In [61]:
import pandas as pd
horse = pd.read_csv('C:\\Users\\Ольга\\Downloads\\Downloads\\horse_data.csv')

In [62]:
horse = pd.read_csv('C:\\Users\\Ольга\\Downloads\\Downloads\\horse_data.csv', header=None, na_values='?')
horse

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [63]:
horse.columns=['surgery','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH', 'rectal examination - feces','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion','first number is site of lesion','second number is type','third number is subtypefourth number is specific code','cp_data']

In [64]:
horse

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,first number is site of lesion,second number is type,third number is subtypefourth number is specific code,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [65]:
df = horse[['surgery', 'Age','pain','peristalsis', 'abdominal distension','packed cell volume','total protein','outcome']]

In [66]:
df

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome
0,2.0,1,5.0,4.0,4.0,45.0,8.4,2.0
1,1.0,1,3.0,4.0,2.0,50.0,85.0,3.0
2,2.0,1,3.0,3.0,1.0,33.0,6.7,1.0
3,1.0,9,2.0,4.0,4.0,48.0,7.2,2.0
4,2.0,1,NaN,NaN,NaN,74.0,7.4,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,2.0,4.0,NaN,55.0,65.0,3.0
296,2.0,1,4.0,3.0,3.0,44.0,NaN,3.0
297,1.0,1,4.0,4.0,3.0,60.0,6.8,2.0
298,1.0,1,3.0,3.0,3.0,50.0,6.0,1.0
299,1.0,1,NaN,NaN,NaN,36.0,62.0,3.0

In [67]:
df.describe()

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome
count,299.000000,300.000000,245.00000,256.000000,244.000000,271.000000,267.000000,299.000000
mean,1.397993,1.640000,2.95102,2.917969,2.266393,46.295203,24.456929,1.551839
std,0.490305,2.173972,1.30794,0.976744,1.065131,10.419335,27.475009,0.737187
min,1.000000,1.000000,1.00000,1.000000,1.000000,23.000000,3.300000,1.000000
25%,1.000000,1.000000,2.00000,3.000000,1.000000,38.000000,6.500000,1.000000
50%,1.000000,1.000000,3.00000,3.000000,2.000000,45.000000,7.500000,1.000000
75%,2.000000,1.000000,4.00000,4.000000,3.000000,52.000000,57.000000,2.000000
max,2.000000,9.000000,5.00000,4.000000,4.000000,75.000000,89.000000,3.000000

In [68]:
df.mode()

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome
0,1.0,1.0,3.0,3.0,1.0,37.0,6.5,1.0
1,NaN,NaN,NaN,NaN,NaN,50.0,7.0,NaN

In [69]:
# результаты:
#     1.Важной метрикой для столбца surgery считаю моду и mean. По ним видно, что большинство лошадей было прооперировано.
#     2.Для возраста также важна мода.Большинство лошадей имеют возраст 1 год. Показатель max указывает на выброс. Минимальный возраст 1 год, жеребят нет. 
#     3. pain- хотя это и субъективное суждение, но можно прослндить взаимосвязь между болью и сделанной операцией. Показатели 25%,50%,75% показывают что большинство лошадей испытывало от депрессии до периодической сильной боли. Мода указывает на самую частую оценку -прерывистую легкую боль.
#     4.Стандартное отклонение минимальное, значит можно расчитвать на среднее. Оно указывает, что значительное большинство лошадей не имело сильного тонуса кишечника.
#     5.Важный параметр. Небольшое std, мода и среднее указывают, что у лошадей или не было или было легкое вздутие живота. То есть ничего страшного с лошадьми не было.
#     6.Анализ крови. Норма от 30-50. 25%,50%,75%  - показывают, что анализы были в норме. Это видно и по среднему и по моде.
#     7.total protein. Видим явный выброс в значении макс. Но даже с учетом его, в целом белок нормальный, лошади не обезвожены.
#     8.интересует исход операций и как общая благоприятная картина была на самом деле благоприятной. Мода показывает, что большинство лошадей живы. Стандартное отклонение от среднего минимально

In [70]:
# В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.\n",

In [71]:
df9 = df.loc[df['Age'] > 2]

In [72]:
df9.describe()

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome
count,24.000000,24.0,17.000000,18.000000,15.000000,23.000000,22.000000,24.000000
mean,1.250000,9.0,3.117647,2.777778,2.666667,41.260870,13.531818,1.541667
std,0.442326,0.0,1.218726,1.060275,1.112697,7.033798,19.253012,0.588230
min,1.000000,9.0,1.000000,1.000000,1.000000,28.000000,3.300000,1.000000
25%,1.000000,9.0,2.000000,3.000000,2.000000,36.000000,5.400000,1.000000
50%,1.000000,9.0,3.000000,3.000000,3.000000,39.000000,6.250000,1.500000
75%,1.250000,9.0,4.000000,3.000000,3.500000,47.500000,7.750000,2.000000
max,2.000000,9.0,5.000000,4.000000,4.000000,53.000000,70.000000,3.000000

In [73]:
# Age встречается 24 раза. Это не может быть случайным единичным нажатием не той клавиши.все показатели разные, общего кроме возраста у лошадей нет. 
# замена 9 на Nan

In [74]:
df['Age'].mask(df['Age'] == 9)

0      1.0
1      1.0
2      1.0
3      NaN
4      1.0
      ...
295    1.0
296    1.0
297    1.0
298    1.0
299    1.0
Name: Age, Length: 300, dtype: float64

In [75]:
df

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome
0,2.0,1,5.0,4.0,4.0,45.0,8.4,2.0
1,1.0,1,3.0,4.0,2.0,50.0,85.0,3.0
2,2.0,1,3.0,3.0,1.0,33.0,6.7,1.0
3,1.0,9,2.0,4.0,4.0,48.0,7.2,2.0
4,2.0,1,NaN,NaN,NaN,74.0,7.4,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,2.0,4.0,NaN,55.0,65.0,3.0
296,2.0,1,4.0,3.0,3.0,44.0,NaN,3.0
297,1.0,1,4.0,4.0,3.0,60.0,6.8,2.0
298,1.0,1,3.0,3.0,3.0,50.0,6.0,1.0
299,1.0,1,NaN,NaN,NaN,36.0,62.0,3.0

In [76]:
# total protein. возможно правильный показатель был в total protein не 89.000000, а 8,9. 
# При выборе этого значения, видим, что лошадь была усыплена, сама клиника незначительна, но packed cell volume выше нормы и белок тоже будет повышен.

In [77]:
df.loc[df['total protein'] == 89.000000]

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome
208,1.0,1,NaN,3.0,3.0,64.0,89.0,3.0

In [78]:
# В описании сказано, что норма 6-7.5. в таблице есть 96 строк со значительно выше белком. 
# При этом лошади живы, packed cell volume в норме, многие не прооперированы. 
# Делаю вывод, что была ошибка в неправильной постановке точки.

In [79]:
# Подобных выбросов 82 строки.
#Можно сделать замену

In [80]:
df.loc[df['total protein']>10,'true total protein']= df['total protein']/10
df.loc[df['total protein']<=10,'true total protein']= df['total protein']
df

C:\Phyton\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Phyton\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome,true total protein
0,2.0,1,5.0,4.0,4.0,45.0,8.4,2.0,8.4
1,1.0,1,3.0,4.0,2.0,50.0,85.0,3.0,8.5
2,2.0,1,3.0,3.0,1.0,33.0,6.7,1.0,6.7
3,1.0,9,2.0,4.0,4.0,48.0,7.2,2.0,7.2
4,2.0,1,NaN,NaN,NaN,74.0,7.4,2.0,7.4
...,...,...,...,...,...,...,...,...,...
295,1.0,1,2.0,4.0,NaN,55.0,65.0,3.0,6.5
296,2.0,1,4.0,3.0,3.0,44.0,NaN,3.0,NaN
297,1.0,1,4.0,4.0,3.0,60.0,6.8,2.0,6.8
298,1.0,1,3.0,3.0,3.0,50.0,6.0,1.0,6.0
299,1.0,1,NaN,NaN,NaN,36.0,62.0,3.0,6.2

In [31]:
# Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [83]:
df.fillna(0)

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome,true total protein
0,2.0,1,5.0,4.0,4.0,45.0,8.4,2.0,8.4
1,1.0,1,3.0,4.0,2.0,50.0,85.0,3.0,8.5
2,2.0,1,3.0,3.0,1.0,33.0,6.7,1.0,6.7
3,1.0,9,2.0,4.0,4.0,48.0,7.2,2.0,7.2
4,2.0,1,0.0,0.0,0.0,74.0,7.4,2.0,7.4
...,...,...,...,...,...,...,...,...,...
295,1.0,1,2.0,4.0,0.0,55.0,65.0,3.0,6.5
296,2.0,1,4.0,3.0,3.0,44.0,0.0,3.0,0.0
297,1.0,1,4.0,4.0,3.0,60.0,6.8,2.0,6.8
298,1.0,1,3.0,3.0,3.0,50.0,6.0,1.0,6.0
299,1.0,1,0.0,0.0,0.0,36.0,62.0,3.0,6.2

In [84]:
df.dropna()

,surgery,Age,pain,peristalsis,abdominal distension,packed cell volume,total protein,outcome,true total protein
0,2.0,1,5.0,4.0,4.0,45.0,8.4,2.0,8.4
1,1.0,1,3.0,4.0,2.0,50.0,85.0,3.0,8.5
2,2.0,1,3.0,3.0,1.0,33.0,6.7,1.0,6.7
3,1.0,9,2.0,4.0,4.0,48.0,7.2,2.0,7.2
6,1.0,1,3.0,3.0,3.0,37.0,7.0,1.0,7.0
...,...,...,...,...,...,...,...,...,...
291,1.0,1,2.0,3.0,3.0,54.0,6.5,2.0,6.5
292,1.0,1,4.0,3.0,3.0,35.0,6.9,2.0,6.9
294,2.0,1,2.0,1.0,1.0,37.0,67.0,1.0,6.7
297,1.0,1,4.0,4.0,3.0,60.0,6.8,2.0,6.8
298,1.0,1,3.0,3.0,3.0,50.0,6.0,1.0,6.0